.hero-1 {
    display: grid;
    grid-template-columns: 3fr 2fr;

}
.hero-1__buttons-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.hero-1__buttons-container button, .hero-1__buttons-container a {
    z-index: 2;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.hero-2__buttons-container {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hero-2__buttons-container button{
    z-index: 2;
    margin-bottom: 1rem;
}
.hero-2__buttons-container button:not(:last-child){
    margin-right: 1rem;
}
.image {
    width: 100%;
    height: auto;
    object-fit: scale-down;
    transform: scale(1.1) translateY(1rem) translateX(-1rem);
}
.section-2__title {
    text-align: center;
}
.three-rows {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    padding-top: 3rem;
}
.card-image {
    width: 100%;
    height: auto;
}
.card-title {
    margin-top: 0;
}
@media (max-width: 800px){
    .hero-1 {
        grid-template-columns: 1fr;
    }
    .image {
        width: 100%;
        height: auto;
        object-fit: scale-down;
        transform: scale(1.1) translateY(-20rem);
    }
    .image-container {
        display: none;
        height: 100px;
    }
    .three-rows {
        grid-template-columns: 1fr;
    }
}