.card {
    z-index: 2;
    position: relative;
    max-height: 100vh;
    max-width: 100%;
    border-radius: 8px;
    background: var(--dominant);
    color: black;
}
.card--padding {
    padding: 20px;
}
.card--shadow-primary{
    box-shadow: var(--primary-shadow-large);
}