.hero {
    position: relative;
    display: block;
    width: 100%;
    background: var(--primary-gradient);
    color: var(--dominant);
}
.hero--business {
    background: var(--business-gradient);
}
.hero__svg-top {
    margin-top: 0;
}
.hero__svg-bottom {
    transform: translateY(10px);
}