@import url('https://fonts.googleapis.com/css?family=Montserrat:500,800,900');

/* ====================================================== */
/* ========= Remove the annoying default styles ========= */
/* ====================================================== */

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
figure {
  margin: 0;
  padding: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

input {
  all: inherit;
}

/* textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;

  resize: none;
} */

/* ====================================================== */
/* =================== Add some colors ================== */
/* ====================================================== */

:root {
  --dominant: #ffffff; /* For the background, 60%*/
  --primary: #EB686C;
  --secondary:  #f7931e;/* For the main elements, 30%*/
  --accent: #ef2dde; /* For little things that you want to stand out, 10% */

  /*Colors with semantic value, use only if necessary*/
  --success: #98fd8a;
  --info: #1fd0e0 ;
  --failure: #ff0340;

  /*Gradients*/
  --primary-gradient: linear-gradient(45deg, var(--secondary), var(--accent));
  --business-gradient: linear-gradient(45deg, var(--success), var(--info));
  /*shadows*/
  --primary-shadow-small: 0px 0px 20px 2px rgba(239, 45, 222, 0.6);
  --primary-shadow-large: 0px 20px 80px 10px rgba(239, 45, 222, 0.7);
}

/* ====================================================== */
/* =================== Add some fonts =================== */
/* ====================================================== */

/* Go to https://type-scale.com/ */


/* Custom selection color*/
*::selection{
    background: var(--primary);
    color: var(--dominant);
}
/*Smart quotes */
q {
    quotes: "“" "”";
}

html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.60;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-weight: 900;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

.big-text {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 800px){
  .big-text {
    font-size: 2.8rem;
  }
}

/* ====================================================== */
/* =============== Utility global classes =============== */
/* ====================================================== */

/*Text*/

.text-gradient {
    background: linear-gradient(to left, var(--secondary), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-center {
  text-align: center;
}

/*Positioning*/
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.absolute-center {
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
}
.absolute-center--horizontal {
  left: 50%;
  transform: translateX(-50%);
}

